#title{background-color:#458F24;width:100%;height:10%}
#titlename{padding-top:1%;padding-left:2%;color:#ffffff;font-size:200%;font-family:Microsoft Yi Baiti,Microsoft JhengHei UI Light,century gothic;}
#background{background-color:#f3f3f3;align:center;height:100%;font-size:150%;color:#4C5681;font-family:Microsoft Yi Baiti,Microsoft JhengHei UI Light,century gothic;width:50%;margin-right:auto;margin-left:auto;margin:0px auto;text-align:center;padding-top:150px}

#footer{background-color:#458F24;width:100%;height:20%;margin-top:-20px;font-family:Microsoft Yi Baiti,Microsoft JhengHei UI Light,century gothic;font-size:160%}

input[type=text]{
padding :6px 6px;
margin :8px 0;
box-sizing:border-box}
input[type=password]{
padding :6px 6px;
margin :8px 0;
box-sizing:border-box}
#wrongmail{font-size:150%;color:#4C5681;font-family:Microsoft Yi Baiti,Microsoft JhengHei UI Light,century gothic;}


@media only screen and (max-width: 480px) {
#title{background-color:#458F24;width:100%;height:5%;text-align:center}
#background{background-color:#f3f3f3;align:center;height:100%;font-size:150%;color:#4C5681;font-family:Microsoft Yi Baiti,Microsoft JhengHei UI Light,century gothic;width:100%;margin-right:auto;margin-left:auto;margin:0px auto;text-align:center;margin-top:5%;padding-top:0px}

#title{background-color:#458F24;width:100%;height:15%}
#titlename{text-align:center;color:#ffffff;font-size:200%;font-family:Microsoft Yi Baiti,Microsoft JhengHei UI Light,century gothic;}
}